#buttons {
  height: 250px;
  width: 400px;
  margin-left: 47.5px;
}

body {
  margin: 10px 0 0 0 !important;
  height: 850px;
  width: 400px;
}

#top-button {
  height: 62.5px;
  width: 400px;
  display: block;
  margin-bottom: 2.5px;
  margin-left: 150px;
}

#right-btn,
#down-btn {
  margin-left: 2.5px;
}
